
  .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    place-items: center;
    font-family: Jost,sans-serif;
    margin-bottom: 2rem;
    background-color: #e6e6e6;
    padding: 2rem;
    margin: 5rem 0;
    
  }
  .contact-us{
    background-color: #fdfdfd;
    padding: 1.2rem;
    border-radius: 1rem;
    max-width: 80%;
  }

.contact-left-container{
    display: grid;
    grid-template-columns: repeat(3, .7fr);
    column-gap: 4rem;
}

.contact-info{
  margin-bottom: 1rem;
  
}

.info-details{
  padding: 1rem;
}

.phone{
  color: rgb(248, 76, 2);
}
.email{
  color: rgb(0, 117, 250);
}
.location{
  color: crimson;
  cursor: pointer;
}

.more-info{
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  background-color: #ffffff;
}
.more-info img{
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 0 1rem;
  display: block;
  margin-left: auto; /* Pushes the image to the right */
}
  
  form label {
    display: block;
    margin-top: 1rem;
  }
  form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  form button {
    background-color: #3c8dbc;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
  }
  form button:hover{
    background-color: #017bc2;
  }
  .contact-info {
    margin-top: 2rem;
  }
  .contact-info h3 {
    margin-bottom: 0.5rem;
  }