body{
    font-family: Arial, Helvetica, sans-serif;
}

.signup-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 4.5rem;
    position: fixed;
    z-index: 10;
}
.signup-container.show{
    display: block;
    place-items: center;
}

/* The form box */
.signup-form {
  display: grid;
  place-items: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Form title */
.signup-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Inputs */
.signup-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

/* Submit button */

.registerBtn{
  width: 50%;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f0d368;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.registerBtn:hover{
  background-color: #e3b81b;
}

/* Login link */
.login-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.login-link span{
  color: #333;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.login-link span:hover{
    color: #f0d368;
}
